@import './rem-calc.scss';

.btn {
    font-size: rem-calc(24);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: rem-calc(20) 0;
    border-radius: rem-calc(10);

    color: var(--white);

    &__primary {
        background-color: var(--primary-color);
    }

    &__secondary {
        background-color: var(--secondary-color);
    }
}
